.footer-area {
    margin-top: auto;
    border-top: 2px solid $black;
    background-color: $white;
    text-align: center;
    width: 100%;
    height: 40px
}


.footer {
    color: $black;
    font-size: large;
    font-weight: 900;
    margin: 10px;
}